.configuration-item {
  display: flex;
  flex-wrap: wrap; // allow wrapping on smaller screens
  gap: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  align-items: end;
}

.ci-key,
.ci-value,
.ci-label,
.ci-icon {
  flex: 1 1 250px; // allow shrinking and growing, and break at ~250px width
  display: flex;
  flex-direction: column; // stack label and input vertically for better layout
  min-width: 20rem; // prevent shrinking too small
  max-width: 20rem;
}

.menu {
  display: flex;
  flex-wrap: wrap; // wrap buttons on small screens
  gap: 1rem;
  justify-content: space-between;
}
