<div class="container">
    <p-toast />
    <p-confirmdialog />
    <div class="menu">
        <p-button icon="ph ph-upload" [label]="this.saveButtonLabel" size="small" severity="success"
            (onClick)="saveConfiguration()"></p-button>
        <p-button icon="ph ph-arrow-counter-clockwise" [label]="this.resetButtonLabel" size="small" severity="danger"
            (onClick)="confirmReset()"></p-button>
    </div>

    <div class="content" [formGroup]="form">
        <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="p-mb-3">
                <div class="configuration-item">
                    <div class="ci-key">
                        <label i18n>Type</label>
                        <input type="text" pInputText formControlName="key" />
                    </div>

                    <div class="ci-label">
                        <label i18n>Value</label>
                        <input type="text" pInputText formControlName="label" />

                    <div class="ci-value">
                        <label i18n>Base Price</label>
                        <p-inputNumber formControlName="base_price" mode="currency" currency="ILS"
                            locale="he"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>