<div class="container">
    <p-toast />
    <div class="menu">
        <p-button icon="ph ph-upload" label="Save Configuration" severity="success"
            (onClick)="saveConfiguration()"></p-button>
        <p-button icon="ph ph-arrow-counter-clockwise" label="Reset Settings" severity="danger"
            (onClick)="ResetConfiguration()"></p-button>
    </div>

    <div class="content" [formGroup]="form">
        <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="p-mb-3">
                <div class="configuration-item">
                    <div class="ci-key">
                        <label>Type</label>
                        <input type="text" pInputText formControlName="key" />
                    </div>

                    <div class="ci-label">
                        <label>Value</label>
                        <input type="text" pInputText formControlName="label" />

                    <div class="ci-value">
                        <label>Base Price</label>
                        <p-inputNumber formControlName="base_price" mode="currency" currency="USD"
                            locale="en-US"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>