<body>
    <div class="app-container">
        <div class="app-header">
            <div class="app-title" i18n>Quote Calculator</div>
            <div class="logo">
                <img src="assets/studiologo.png" alt="Logo" />
            </div>
            <div class="app-menu">
                <a routerLink="/settings" routerLinkActive="active">
                    <i class="ph ph-gear"></i>
                </a>
                <a routerLink="/quote-builder" routerLinkActive="active">
                    <i class="ph ph-house"></i>
                </a>
            </div>
        </div>

        <div class="app-nav"></div>
        <div class="app-main"><router-outlet></router-outlet></div>
        <div class="app-footer">Nada Salameh - Interior Design</div>
    </div>
</body>