<div class="quote-builder">
  <p-card header="Quote Builder">
    <form [formGroup]="form">
      <p-splitButton label="Add Item" icon="pi pi-plus" [model]="quoteItemOptions" class="mb-3">
        <ng-template #content>
          <span>Add Item</span>
        </ng-template>
      </p-splitButton>

      <p-table [value]="lines.controls" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
        [size]="'small'" [showGridlines]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>active</th>
            <th>Item</th>
            <th>Unit Type</th>
            <th>Units</th>
            <th>Price/Unit</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-group let-i="rowIndex">
          <tr [formGroup]="group">
            <td>
              <p-toggle-switch formControlName="active"></p-toggle-switch>
            </td>
            <td>{{ group.get('item')?.value }}</td>
            <td>{{ group.get('unitType')?.value }}</td>
            <td>
              <input pInputText formControlName="units" type="number" class="w-full" />
            </td>
            <td>
              <input pInputText formControlName="pricePerUnit" type="number" class="w-full" />
            </td>
            <td>{{ group.get('totalPrice')?.value | currency }}</td>
            <td>
              <button pButton class="p-button-danger" icon="pi pi-trash" type="button" (click)="removeLine(i)">
                              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="mt-4 font-bold">Total: {{ total | currency }}</div>
    </form>
  </p-card>
</div>